In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Nomitech\Desktop\Udemy Machine learning\Machine Learning A-Z (Codes and Datasets)\Part 2 - Regression\Section 8 - Decision Tree Regression\Python\Position_Salaries.csv")

In [3]:
df

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [9]:
x = df.iloc[:,1:-1].values
y = df.iloc[:,-1].values

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=5)

In [23]:
## Training Descision Tree
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(x,y)

DecisionTreeRegressor(random_state=0)

In [26]:
y_predict = regressor.predict(x_test)

In [27]:
y_test

array([1000000,  150000,   60000,  110000], dtype=int64)

In [28]:
from sklearn import metrics
r_square = metrics.r2_score(y_test,y_predict)

In [29]:
r_square

1.0