In [1]:
string='abcdefg'

In [3]:
string[1:]

'bcdefg'

In [4]:
string[2]

'c'

## string properties and methods

In [5]:
name = 'Sam'

In [6]:
name[0]='d'#are immutable

TypeError: 'str' object does not support item assignment

In [8]:
lastname=name[1:]
lastname

'am'

In [9]:
'P' + lastname

'Pam'

In [10]:
x = 'hello word'
x + 'it is beatifull outside'

'hello wordit is beatifull outside'

In [11]:
letter = 'z'

In [12]:
letter*10

'zzzzzzzzzz'

In [13]:
letter.upper()

'Z'

In [14]:
x.split()

['hello', 'word']

### formating with .format() method

In [15]:
print("this is a string{}".format("inserted"))

this is a stringinserted

In [18]:
print("{} {} {}".format("fox","brown","quick"))

fox brown quick

In [22]:
print(" then {2} {1} {0}".format("fox","brown","quick"))# prepei na mpoun ola gia na paiksei

 then quick brown fox

### working with keywords

In [23]:
result = 100/666

In [24]:
result

0.15015015015015015

In [25]:
print("the results was {}".format(result))

the results was 0.15015015015015015

# lists

In [26]:
mylist = [1,2,3]

In [27]:
my_list = ['STRING',100,23.2]

In [29]:
len(my_list)  #etsi kanoume kai to range len se loop

3

In [31]:
for i in range(len(mylist)):
    print(i)

0
1
2

In [32]:
mylist=["one","two","three"]

In [36]:
mylist[1:2]

['two']

In [37]:
mylist

['one', 'two', 'three']

In [38]:
another_list=['four','five']
mylist+another_list

['one', 'two', 'three', 'four', 'five']

In [39]:
# we can change the list unlike texts

In [40]:
another_list[0]='dsjsdk'

In [41]:
another_list

['dsjsdk', 'five']

In [42]:
## append allows you to append at the end of the list 
mylist.append("hfhf")

In [43]:
mylist

['one', 'two', 'three', 'hfhf']

In [46]:
##remove from a list
mylist.pop(0) # to 0 einai i thesi

'one'

In [47]:
mylist

['two', 'three']

In [48]:
mylist

['two', 'three']

In [49]:
mylist.sort()

In [50]:
list=[3,1,2]
list.sort()

In [51]:
list

[1, 2, 3]

In [54]:
nested_list=([1,2,3],[1,2,3])
nested_list[1][2]

3

# dictionaries

## allows to put keys in our objects unlike lists

In [1]:
#tk=he keys allows you to call whatever you want

In [2]:
my_dict={"key1":"value1","key2":"value2"}

In [3]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [4]:
my_dict["key1"]# locate it with keys,we ask the keys and bring us the value

'value1'

In [5]:
price_loukup={"apple":2.99,"oranges":1.99,"milt":5.80}

In [6]:
price_loukup["apple"]

2.99

In [7]:
d = {"k1":123,"k2":[1,2,3]}

In [8]:
d["k2"]

[1, 2, 3]

In [9]:
d['k2'][1]

2

In [10]:
d.keys()

dict_keys(['k1', 'k2'])

## tuples

In [11]:
#tuples einai san ta lists alla den mporoun na allaksoun
#an ginei assign se kati dn allazei h dn mporeis na pareis ena kommati tou
tuples=(1,2,3)

In [13]:
tuples[1]=0

TypeError: 'tuple' object does not support item assignment

In [14]:
t = ("A","A","b")#tuples xrisimopoieis genika an thes kati na min allaksei

In [17]:
t.count("A")

2

In [18]:
t.index("A")

0

In [20]:
list=[1,2,3,4]
list[0]=4

In [21]:
list

[4, 2, 3, 4]

In [23]:
t[0]=3

TypeError: 'tuple' object does not support item assignment

### sets

In [24]:
#unorderes colection of unique things

In [26]:
myset = set()

In [27]:
myset.add(1)

In [29]:
myset.add(4)

In [30]:
myset

{1, 4}

In [32]:
myset.add(2)

In [34]:
myset#wonot repeat the 2 beacuse they should have unique values

{1, 2, 4}

In [35]:
mylist = [1,2,3,4,5,5,]

In [36]:
set(mylist)

{1, 2, 3, 4, 5}

# booleans

In [37]:
#if conditions is true execute a block code

In [38]:
True

True

In [39]:
False

False

In [40]:
1>2

False

# comparison operators

In [41]:
2 == 2

True

In [42]:
2==1

False

In [43]:
"buy"=="b"

False

## logical operators and comparison

In [44]:
1 < 2 and 3 < 4

True

In [45]:
3 <5 or 3<1

True

# if elif else

In [46]:
#if_some condition:
    #execute code
 #elif some other condition:
    #do something different
 #else:
  #do something else

In [47]:
if 2>1:
    print("its bigger")

its bigger

In [51]:
if True:
    print("ITS TRUE")

ITS TRUE

In [52]:
if False:#an einai false den execute
    print("ITs false")

In [57]:
hungry = False
if hungry:
    print("feed me ")
else:
    print("im not hungry")

im not hungry

In [58]:
loc = 'Bank'
if loc =='autoshop':
    print("cars")
elif loc =='Bank':
    print("its bank")
else:
    print("i dont know much")

its bank

# foor loops

In [59]:
#exute block of code for every element

In [63]:
my_loop = [1,2,3,4,6,7,8]
for i in range(len(my_loop)):
    print(i)

0
1
2
3
4
5
6

In [64]:
for i in my_loop:
    print(i)

1
2
3
4
6
7
8

In [69]:
 for i in my_loop:
        ## check for even
    if i % 2 ==0:
        print(i)
    else:
        print(f'odd number{i}')

odd number1
2
odd number3
4
6
odd number7
8

In [74]:
list_sum = 0
for num in list_sum:
      list_sum = list__sum + num
print(list_sum)

TypeError: 'int' object is not iterable

In [75]:
mylist

[1, 2, 3, 4, 5, 5]

In [80]:
list_sum = 0
for i in mylist:
    list_sum = list_sum + i
print(list_sum)

20

In [77]:
mylist

[1, 2, 3, 4, 5, 5]

In [79]:
list_sum = 0
for i in mylist:
    list_sum = i + list_sum
print(list_sum)

20

In [81]:
my_str = "abcs"
for i in my_str:
    print(i)

a
b
c
s

In [82]:
my_str = "abcs"
for i in my_str[:2]:
    print(i)

a
b

In [84]:
 tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [95]:
mylist1 = [(1,2),(3,4),(7,8)]

In [87]:
len(mylist)

3

In [88]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(7, 8)

In [104]:
for a,b in mylist1:
    print(a)
    print(b)

1
2
3
4
7
8

In [90]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [106]:
for a,b,c in mylist: 
    print(a)
    print(b)
    print(c)

1
2
3
5
6
7
8
9
10

### loop for dictionaries

In [107]:
d = {"k1":1,"k2":2,"k3":3}

In [108]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [109]:
for item in d.keys():
    print(item)

k1
k2
k3

In [111]:
for key,value in d.items():
    print(value)
    print(key)

1
k1
2
k2
3
k3

In [112]:
for i in d.values():
    print(i)

1
2
3

## functions

In [1]:
# a repeat block of code

In [2]:
def name():
 print("hello")

In [4]:
name()

hello

In [5]:
def name(name):
    print("hello" + name)
name("hose")

hellohose

In [6]:
#typically we use return keyword to send back the result
#return allow us to assign the output of the function to a new variable
#very rarely we use print inside function cause we use it out side of it

In [7]:
def name(num,num1):
    return num + num1
result = name(1,2)
#return allows us to assign the nums to the result variable

In [8]:
result

3

# basic functions

In [9]:
def say_hello():
    print("hello")

In [10]:
say_hello()

hello

In [11]:
def say_hello(name):
    print(f"hello {name}")

In [12]:
say_hello("jogn")

hello jogn

## default value

In [13]:
def say_hello(name='hose'):
    print(f"hello {name}")

In [14]:
say_hello()

hello hose

# me to return twra

In [15]:
def add_num(num1,num2):
    return num1+num2

In [16]:
#the main difference return print ienai oti to print apla to epistrefei
#to return mporeis na to kaneis assign se neo variable

In [17]:
add_num(2,2)

4

In [18]:
add_num=add_num(2,3)

In [20]:
add_num#twra to exw se variable

5

In [21]:
#den mporeis na kaneis saved to apotelesma apo to print 
#gia auto einai kalutero to return

## functions with logic

In [22]:
#gia na tsekaro an kati einai even
#tote to kanw % me to 2,an einai 0 tote einai even

In [24]:
21 % 2 ==0

False

In [25]:
20 % 2 ==0

True

In [26]:
def even_check(num):
    if num % 2 ==0:
        print("its even")
    else:
        print("its not even")

In [27]:
even_check(20)

its even

# importand note:panta an kaneis return exe ta se variable diladi kane ta calculations apo panw kai return ena variable

In [28]:
def even_check(num):
    result = num % 2==0
    return result

In [29]:
even_check(29)

False

In [31]:
def even_check(num):
    
    return  num % 2==0 #mporeis na to kaneis kai etsi na kanei ta calc sto return

In [32]:
#RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

In [41]:
list=[1,2,3,4,5,6]
def check_list(list):
    for i in list:
        if i %2==0:
            return True
        else:
            pass #to pass apla dn tha kanei tipota apla tha paei sto epomeno
    return False # to false prepei na mpei ekso apo ekso.
#an den kanei meet to true tote na vgei

In [42]:
check_list([1,2,3,4,5,6])

True

## show us all the even number in the list

In [46]:
def check_even_list(numlist):
    even_number = []
    for i in numlist:
        if i %2 ==0:
            even_number.append(i)
        else:
            pass
    return even_number

In [47]:
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

## tuple upacking with functions

In [1]:
stock_prices = [("aapl",200),("google",400),("msft",100)]

In [2]:
for item in stock_prices:
    print(item)

('aapl', 200)
('google', 400)
('msft', 100)

In [5]:
for ticker,prices in stock_prices:
    print(ticker)
    print(prices+(prices * 0.1))

aapl
220.0
google
440.0
msft
110.0

In [6]:
work_hours=[('abby',100),("Billy",400),("Cassie",800)]

## return the employee of the month

### check the most hours and return the name and the hours

In [29]:
def hours(work_hours):
    current_max = 0
    employee_of_month=''
    for name,hours in work_hours:
        if hours > current_max:
            current_max=hours #to kanoume etsi giati einai numeric
            #mono se lista kanoume append
            employee_of_month = name
        else:
            pass
    
    #return turple
    return(employee_of_month,current_max)

In [30]:
hours(work_hours)

('Cassie', 800)

In [31]:
name,hours = hours(work_hours)

In [32]:
name

'Cassie'

In [33]:
hours

800

In [34]:
#tupple unpacking

###  args and kwargs

### arguments and k word arguments

In [35]:
def myfunc(a,b):
    #return 5% of the sum of a and b
    return sum((a,b)) * 0.5
#when we deal with multiple positional argyments like a and b we pass sum kai tetoia as tuple
#position arguments einai to a kai b kai katw to 40 kai 60
#paei analoga diladi a 40 kai b 60

In [36]:
myfunc(40,60)

50.0

In [37]:
 #what if want to deal with more than 2 numbers?
    #me parapanw noumera diladi
    #an exoume 2 arguments den tha mas afisei mporoume na valoume mono 2
    #opws kaname 60 kai 40

In [67]:
def myfunc(a,b,c=0):
    return sum((a,b,c)) * 0.5
#edw vazeis to c na exei default value kai an totou valoume
#number apo katw exe kalos alliws tha parei to 0
#auto einai mia lisi an theloume na doulepsoume me parapanw noumera
#etsi mporoume na valoume kai d e = 0
#alla kai pali tha exoume limit giati auta tha teleisoun
#args and kwards let us put arbitary number diladi osous theloume

In [68]:
def myfunc(*args):
    return sum(args) * 0.5
#twra edw dn to valame emeis se tuple valame mia parenthesi
#dioti to args etsi k alliws einai tuple.

In [69]:
results=myfunc(200)

In [70]:
results

100.0

In [44]:
myfunc(30,30,30,30)

60.0

In [45]:
#vlepeis oti me to args den exoume limit,ta kanei oso kai na valoume 
#antithetos me ta alla pou prepei na exoume default values

In [46]:
# an kanoume print tha mas vgei tuple

In [50]:
def myfunc(*args):
    for item in args:
        print(item)

In [51]:
myfunc(20,10)

20
10

### etsi doulevei kai to kwargs exoume aperioristo arithmo arguments
### ftiaxnei dictionarry me keyword pairs

In [58]:
def myfunc(**kwards):# return back a dictionari
    print(kwards)
    if "fruit" in kwards:
        print("my fruit of choice is {}".format(kwards['fruit']))
    else:
        print("i didnot find any fruits")

In [59]:
myfunc(fruit="apple",veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
my fruit of choice is apple

In [72]:
def myfunc(*args,**kwargs):
    print("i would like {} {}".format(args[2],kwargs['Food']))

In [73]:
myfunc(10,20,30,fruit='orange',Food='eggs',anima='dog')

i would like 30 eggs