# LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [24]:
def even(a,b):
    even= []
    odd=[]
    if (a%2) == 0 and (b%2)==0:
        even.append(a)
        even.append(b)
        
        return min(even)
    else:
        odd.append(a)
        odd.append(b)
        return max(odd)

In [26]:
even(2,4)

2

In [89]:
def lesser(a,b):
    if (a%2)==2 and (b%2)==2:
        if a < b:
            result =  a
        else:
            result = b
    else:
        if a > b:
            result = a
        else:
            result = b
            
    return result

In [90]:
lesser(6,4)

6

In [28]:
even(1,5)

5

In [45]:
def checker(a):
    a,b = a.split()
    if a[0]==b[0]:
        return True
    else:
        return False

In [46]:
checker("Paris Tapas")

False

In [74]:
def checker_number(a,b):
    sum = a+b
    if sum ==20:
        return True
    if (a==20 and b != a) or (b==20 and a!=b):
        return True
    else:
        return False

In [78]:
checker_number(39,20)

True

In [119]:
def capitilize(name):
    first=name[0]
    second=name[1:3]
    third=name[3]
    fourt=name[4:]
    print(first.upper() + second+third.upper()+fourt)

In [120]:
capitilize("macdonald")

MacDonald

In [111]:
name='macdonald'

In [117]:
name[3:]

'donald'

In [132]:
def almost_there(n):
    if abs(100-n)<=10:
        return True
    elif abs(200-n) <=10:
        return True
    else:
        return False

In [134]:
almost_there(150)

False

In [136]:
abs(100-60)

40

In [137]:
def blackjack(a,b,c):
    sum=a+b+c
    if sum <=20:
        return sum
    elif sum > 21 and (a==11 or b ==11 or c == 11):
        return sum - 10
    elif sum >21:
        print("BUST")

In [138]:
blackjack(5,6,7)

18

In [139]:
blackjack(9,9,9)

BUST

In [140]:
blackjack(9,9,11)

19

In [170]:
def summer_of(arr):
    sum=[]
    for i in arr:
        if i >6 and i<=9:
            pass
        else:
            sum = i+0
        return sum

In [172]:
summer_of([3,4])

3

In [178]:
sum1=[]
list1=[2,3,4]
for i in list1:
    sum1=i+0

In [25]:

def summer_69(x):
    sum1 = 0
    for i in x:
        if i>5 and i <10:
            pass
        else:
            sum1= sum1+i
    return sum1

In [32]:
sumos([1,3,5])

TypeError: '>' not supported between instances of 'list' and 'int'

In [28]:
sumos([4,5,6,7,8,9])

9

In [29]:
sumos([2,1,6,9,11])

14

In [16]:

def sum_numbers(numbers):
    total=0

    for num in numbers:
        total=total+num
    return total

6

In [36]:

def summer_69(x):
    sum1 = 0
    for i in x:
        if i>5 and i <10:
            pass
        else:
            sum1= sum1+i
    return sum1

In [43]:
sumos([3,4,9,7])

16

In [44]:
summer_69([3,5,5,7])

13

In [45]:
def summos(x):
    total = 0
    for i in x:
        if i >5 and i<10:
            pass
        else:
            total +=i
    return total

In [49]:
summos([3,4,5,6,20])

32